{% extends 'base.html' %}

{% block breadcrumb %}
<nav aria-label="breadcrumb" class="bg-light rounded-3 p-3 mb-4 shadow-sm">
  <ol class="breadcrumb mb-0">
    <li class="breadcrumb-item"><a href="{% url 'index' %}" class="text-decoration-none text-primary">Home</a></li>
    <li class="breadcrumb-item">Edit Record</li>
    <li class="breadcrumb-item active text-dark fw-semibold" aria-current="page">{{ customer_record.first_name }} {{ customer_record.last_name }}</li>
  </ol>
</nav>
{% endblock %}

{% block content %}

<h1>Edit Record</h1>
<br/>

<form method="POST">
    {% csrf_token %}

    {{ form.as_p }}

<br/> 
<a href="{% url 'index' %}" class="btn btn-secodary">Back to List</a>
<button type="submit" class="btn btn-primary">Edit Record</button>
</form>

{% endblock %}
